red_360 = #c90018

body
    font-family 'Source Sans Pro', sans-serif
    font-size 21 px
    margin 0
    padding 0

h1
    font-size 40px
    color red_360

h2
    font-size 30px

.wrapper
    width 1000px
    margin auto

header
    height 100px
    box-shadow 0px -5px 30px #3d434b
    position fixed
    width 100%
    padding 0
    background-color rgba(255,255,255,.9)
    img
        height 90px
        margin-top 5px
    a
        float right
        height 40px
        background-color red_360
        font-size 24px
        width 215px
        text-align center
        color #fff
        text-decoration none
        border-radius 5px
        box-shadow 0 5px 0 #9b041d
        padding-top 10px
        margin-top 25px

.Home
    background url(../images/bg-home.jpg)

.ImageHeader
    padding-top 100px
    height 400px
    text-align center
    color white
    background-repeat no-repeat
    background-size cover
    background-position-y 100px
    background-position-x center
    h1
        margin 120px 0 0 0
        text-transform uppercase
        color white
    p 
        font-weight bold
        margin 40px 0 35px 0
    input
        display inline-block
        vertical-align middle
        height 38px
        font-size 18px
        padding 0px 10px
        border-radius 5px 0px 0px 5px
        border 1px solid #939393
        font-weight 600
    a 
        display inline-block
        vertical-align middle
        text-decoration none
        color #fff
        background-color red_360
        font-size 21px
        font-weight 600
        border-radius 0 5px 5px 0
        height 35px
        width 65px
        margin-left -6px
        padding 5px 0 0 0

.CallBanner
    text-align center
    background-color red_360
    height 75px
    h2
        padding-top 16px
        margin 0
        color white

.Services
    text-align center
    margin 35px 0 20px 0
    h2
        margin 0
        padding 0
        color red_360
    p 
        text-align left
        font-weight 400
        font-style normal
        font-size 21px
        line-height 1.58
        letter-spacing -.003em
    a 
        display inline-block
        margin 45px 26px 20px 0
        padding 0
        vertical-align middle
        width 220px
        color red_360
        img
            width 220px
            border-radius 50%
            margin-bottom 16px
        &:last-child
            margin 0
        span
            font-weight 600

.Dark
    background-color #3d434b
    color white
    h2
        color white

.Benefits
    text-align center
    padding 10px 0 45px 0
    &-Single
        display inline-block
        vertical-align top
        margin 30px 30px 0 0
        &:last-child
            margin 30px 0px 0 0
        img
            height 150px
        span
            font-size 21px
            display block
            width 220px
            margin 30px 0 0 0
